$tcrt_red: #a12a1e;
$tcrt_beige: #bb9765;
$tcrt_yellow: #fbd656;
$tcrt_olive: #455041;
$tcrt_map_red: #fa5340;
$tcrt_map_green: #679d5f;

$off_white1: #fffff0;
$off_white2: #fcfbe8;
$off_black1: #002211;

$very_light_gray: #eee;
$light_gray: #dedede;
$gray: #cdcdcd;
$medium-gray: #a8a8a8;
$dark-gray: #989282;

$map_bg_beige: #f2eee8;
