.mapboxgl-popup {
  animation: fadeIn 250ms;
  .mapboxgl-popup-content {
    box-shadow: 0 0.5em 1.5em $medium-gray;
    padding: 0.5em 1em 0.5em 1em;
    font-family: $fontSans;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  // Mapbox popup has a delay in positioning so hide it until here
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
